body {
  background-image: url("../ims/home-office.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style the header */
header {
  background-color: rgba(255, 255, 255, 0.75);
  color: #333;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

/* Style the nav */
nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

nav a:hover {
  color: #007bff;
}

/* General text styles */
.big-white-text {
  color: #ffd700;
  font-size: 42px;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Section styling */
#planes {
  text-align: center;
  color: #ffd700;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  width: 80%;
}

#planes .big-white-text {
  color: #ffd700;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-shadow: #333;
}

#planes .grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; /* Ensure all items are on the same line */
}

.plan {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  width: 30%; /* Ensure each plan takes up 30% of the container width */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.plan:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0);
}

.plan-a {
  background-image: url("../ims/Wisp/wispPlanA.png");
}

.plan-b {
  background-image: url("../ims/Wisp/wispPlanB.png");
}

.plan-c {
  background-image: url("../ims/Wisp/wispPlanC.png");
}

.s1 {
  background-image: url("../ims/Wisp/s1.png");
}


/* Other styles */
.image-section {
  height: auto;
  background-color: transparent;
  overflow: hidden;
}

.image-section img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid.animate {
  animation: fade-in 1s forwards;
}

.publicidad {
  align-items: center;
  height: 300px;
  width: 100%;
}

.publicidad img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}

/* Style the footer */
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 157, 255, 0.971);
  color: white;
}

/* Resto de tu CSS... */

#Caracteristicas {
  text-align: center;
  color: #ffd700;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  padding: 2rem;
  border-radius: 20%;
  margin: 2rem auto;
  width: 80%;
}

#Caracteristicas h1 {
  color: #ffd700;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-shadow: #333;
}

#Caracteristicas img {
  border-radius: 10px;
}

#Caracteristicas .grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; /* Ensure all items are on the same line */
}



